services:
  camera-agent:
    image: camerasensor_mtk:latest
    container_name: camerasensor_dev_env
    privileged: true
    # --- 加入以下設定 ---
    ulimits:
      rtprio: 99      # 允許容器請求最高 99 的實時優先級
      memlock: -1     # 解鎖記憶體鎖定限制，這對硬體加速很有幫助
      msgqueue: 8192000
    network_mode: "host"
    environment:
      - DISPLAY=${DISPLAY}
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
    volumes:
      - ./:/app
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $HOME/.Xauthority:/home/mpc/.Xauthority
      - /home/ubuntu/test-h264.mp4:/tmp/test-h264.mp4
    devices:
      - /dev/apusys:/dev/apusys
      - /dev/apusys_reviser:/dev/apusys_reviser
      - /dev/mali0:/dev/mali0
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
      - /dev/video2:/dev/video2
      - /dev/video3:/dev/video3
      - /dev/video4:/dev/video4
      - /dev/video5:/dev/video5
      - /dev/video6:/dev/video6
      - /dev/media0:/dev/media0
      - /dev/media1:/dev/media1
    group_add:
      - video
      - render
    # with micromamba
    # tail -f /dev/null
    command: tail -f /dev/null
    # command: >
    #   micromamba run -n camerasensor python3 /app/LayerCamera/device_monitor_proc.py
    # docker compose up -d
    # docker exec -it camerasensor_dev_env bash
    # micromamba activate camerasensor
    # export GST_DEBUG=3
    # python3 /app/LayerCamera/device_monitor_proc.py